.about {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about__title {
    font-size: var(--size-2xl);
    color: var(--color-light);
}

.about__description {
    max-width: 60ch;
    font-size: var(--size-s);
    color: var(--color-slate600);
}

.about__hr {
    border-color: var(--color-slate800);
}

.about__subtitle {
    font-size: var(--size-s);
    color: var(--color-slate400)
}

.about__ul_container {
    display: flex;
}

.about__ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style: none;
    padding-left: 0;
    flex: 1;
}

.about__list {
    font-size: var(--size-s);
    color: var(--color-slate600);
}


/* RESPONSIVENESS */
@media (min-width: 475px) {
    .about {
        gap: 1.5rem;
    }
    
    .about__content {
        gap: 1.5rem;
    }
    
    .about__title {
        font-size: var(--size-3xl);
    }
    
    .about__description {
        font-size: var(--size-m);
    }
    
    .about__subtitle {
        font-size: var(--size-m);
    }
    
    .about__list {
        font-size: var(--size-m);
    }
}

@media (min-width: 640px) {
    .about__img-wrapper {
        margin-left: auto;
        margin-right: auto;
    }
    .about__img {
        width: 28.6875rem;
    }
}

@media (min-width: 1024px) {
    .about {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .about__title {
        font-size: var(--size-4xl);
    }
    
    .about__description {
        font-size: var(--size-l);
    }
    
    .about__subtitle {
        font-size: var(--size-l);
    }
    
    .about__list {
        font-size: var(--size-l);
    }
}

@media (min-width: 1280px) {
    .about {
        gap: 2rem;
    }

    .about__title {
        font-size: var(--size-5xl);
    }
    
    .about__description {
        font-size: var(--size-xl);
    }
    
    .about__subtitle {
        font-size: var(--size-xl);
    }
    
    .about__list {
        font-size: var(--size-xl);
    }

    .about__img {
        width: 30.75rem;
    }
}
