.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.contact__title {
    font-size: var(--size-2xl);
    color: var(--color-light);
    text-transform: capitalize;
}

.contact__description {
    font-size: var(--size-s);
    color: var(--color-slate600);
    max-width: 60ch;
}

.contact__container {
    border: 3px solid var(--color-slate800);
    border-radius: 30px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.contact__container-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact__container-left-title {
    font-size: var(--size-xl);
    color: var(--color-light);
    text-transform: capitalize;
}

.contact__container-left-subtitle {
    font-size: var(--size-s);
    color: var(--color-slate400);
}

.contact__email {
    text-decoration: none;
    color: var(--color-orange);
    font-weight: 800;
    transition: 0.3s;
}

.contact__email:hover {
    font-size: 125%;
    transition: 0.3s;
}

.cv-btn {
    padding: 0 1rem;
}

.contact__container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.contact__input {
    width: 400px;
    height: 40px;
    padding-left: 1rem;
    outline: none;
    border: 2px solid var(--color-orange);
    border-radius: 10px;
    background-color: var(--color-dark);
    color: var(--color-slate400);
    font-weight: 600;
}

.contact__textarea {
    height: 160px;
    border-radius: 10px;
    padding-top: 10px;
}

.contact__input:focus {
    border: 3px solid var(--color-slate400)
}

.contact__input::placeholder {
    color: var(--color-slate600);
    opacity: 0.6;
    font-size: var(--size-s);
}

.contact__submit-btn {
    font-size: var(--size-s);
}

@media (min-width: 475px) {
    .contact {
        gap: 1.5rem;
    }
    .contact__title {
        font-size: var(--size-3xl);
    }
    .contact__description {
        font-size: var(--size-m);
    }
    .contact__container-left ul {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 1rem;
        padding: 0;
    }
    .contact__container-left-title {
        font-size: var(--size-2xl);
    }
    .contact__container-left-subtitle {
        font-size: var(--size-m)
    }
    .contact__email {
        font-size: var(--size-l)
    }
    .cv-btn {
        margin-left: auto;
        margin-right: auto;
        font-size: var(--size-l);
    }
    .contact__submit-btn {
        font-size: var(--size-m);
    }
}
@media (min-width: 1024px) {
    .contact__title {
        font-size: var(--size-4xl);
    }
    .contact__description {
        font-size: var(--size-l);
    }
    .contact__container {
        display: flex;
        flex-direction: row;
    }
    .contact__container-left {
        justify-content: center;
        align-items: flex-end;
        text-align: right;
    }
    .contact__container-left-title {
        font-size: var(--size-3xl);
    }
    .contact__container-left-subtitle {
        font-size: var(--size-l);
    }
    .contact__email {
        font-size: var(--size-xl);
    }
    .cv-btn {
        margin: 0;
    }
    .contact__container-form {
        margin-top: 5rem;
    }
    .contact__submit-btn {
        font-size: var(--size-l);
    }  
}
@media (min-width: 1280px) {
    .contact {
        gap: 2rem;
    }
    .contact__title {
        font-size: var(--size-5xl);
    }
    .contact__description {
        font-size: var(--size-xl);
    }
    .contact__submit-btn {
        font-size: var(--size-xl);
    }  
}
