.mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: var(--color-dark);
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mobile-nav__menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.mobile-nav__link {
    font-size: var(--size-s);
    text-decoration: none;
    font-weight: 600;
    color: var(--color-slate600);
    letter-spacing: -0.05em;
    transition: color 0.03s;
}

.mobile-nav__social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.mobile-nav__link:hover {
    color: var(--color-orange);
}

.mobile-nav__link-line {
    border: 1px solid var(--color-slate600);
    padding-right: 1.5em;
}

.mobile-nav__sun {
    display: block;
    width: var(--size-xl);
    height: var(--size-xl);
    color: var(--color-slate600);
}

.mobile-nav__btn {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--color-orange);
    color: var(--color-light);
    padding: 0.5em 1.5em;
    border-radius: 12px;
}
