.work {
    text-align: center;
}

.work__title {
    font-size: var(--size-2xl);
    color: var(--color-light);
}

.work__description {
    max-width: 60ch;
    font-size: var(--size-s);
    color: var(--color-slate600);
    margin: 1rem auto;
}

.work__btn {
    margin-top: 0.75rem;
    font-size: var(--size-s)
}

.work__project-title {
    font-size: var(--size-m);
    margin-bottom: 1rem;
}

.work__img {
    --w: 33.25rem;
    --h: 33.25rem;
    --b: 0.3rem;
    --g: 0.5rem;
    --c: rgb(194, 65, 12);

    width: var(--w);
    height: var(--h);
    outline: calc(var(--h)/2) solid rgba(194, 65, 12, 0.5);
    outline-offset: calc(var(--h)/-2);
    cursor: default;
    transition: .3s;
    border-radius: 10%;
    margin-bottom: 5px;
    position: relative;
}

.work__img::before {
    content: '';
    position: absolute;
    top: calc((var(--h) - var(--w)) / 2);
    left: 0;
    right: 0;
    bottom: calc((var(--h) - var(--w)) / 2);
    outline: calc(var(--w)/2) solid rgba(194, 65, 12, 0.5);
    outline-offset: calc(var(--w)/-2);
    z-index: -1;
}

.work__img:hover {
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
}

.work__img:hover::before {
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
}

.work__project:not(:last-child) {
    margin-bottom: 5rem;
}

.work__project-description1 {
    font-size: var(--size-s);
    color: var(--color-slate600);
    margin: 1rem 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-left: 0;
}

.work__project-description2 {
    font-size: var(--size-s);
    color: var(--color-slate400);
    margin: 1rem;
}

.work__project-btn {
    font-size: var(--size-s);
}

.work__project-subtitle {
    display: none;
}


/* RESPONSIVENESS */
@media (min-width: 475px) {
    .work__img {
        --w: 28.6875rem;
        --h: 28.6875rem;
    }
    
    .work__title {
        font-size: var(--size-3xl);
    }
    
    .work__description {
        font-size: var(--size-m);
        margin: 1.5rem auto;
    }

    .work__btn {
        font-size: var(--size-m)
    }

    .work__project-title {
        font-size: var(--size-l);
        margin-bottom: 1.5rem;
    }

    .work__project-description1 {
        font-size: var(--size-m);
        margin: 1.5rem 0;
    }
    
    .work__project-description2 {
        font-size: var(--size-m);
        margin: 1.5rem;
    }

    .work__project-btn {
        font-size: var(--size-m);
    }
}

@media (min-width: 640px) {
    .work__btn {
        font-size: var(--size-xs)
    }

    .work__img {
        --w: 19.5rem;
        --h: 19.5rem;
    }

    .work__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'image1 content1'
        'content2 image2'
        'image3 content3'
        'content4 image4'
        'image5 content5'
        'content6 image6';
        place-items: center;
    }

    .work__image1 {
        grid-area: image1;
    }

    .work__image2 {
        grid-area: image2;
    }

    .work__image3 {
        grid-area: image3;
    }

    .work__image4 {
        grid-area: image4;
    }

    .work__image4 {
        grid-area: image4;
    }

    .work__image5 {
        grid-area: image5;
    }

    .work__image6 {
        grid-area: image6;
    }

    .work__content1 {
        grid-area: content1;
    }

    .work__content2 {
        grid-area: content2;
    }

    .work__content3 {
        grid-area: content3;
    }

    .work__content4 {
        grid-area: content4;
    }

    .work__content5 {
        grid-area: content5;
    }

    .work__content6 {
        grid-area: content6;
    }

    .work__project {
        padding: 0 1rem;
    }

    .work__project-title {
        display: none;
    }

    .work__project-description1 {
        font-size: var(--size-xs);
        margin: 1em 0;
    }
    
    .work__project-description2 {
        font-size: var(--size-xs);
        margin: 1em;
    }

    .work__project-btn {
        font-size: var(--size-xs);
    }

    .work__project:not(:last-child) {
        margin-bottom: 0;
    }
    
    .work__project-subtitle {
        display: block;
        font-size: var(--size-m);
    }
}

@media (min-width: 768px) {
    .work__btn {
        font-size: var(--size-l)
    }

    .work__img {
        --w: 23.5rem;
        --h: 23.5rem;
    }

    .work__project-description1 {
        font-size: var(--size-s);
    }
    
    .work__project-description2 {
        font-size: var(--size-s);
    }
    
    .work__project-btn {
        font-size: var(--size-s);
    }
    
    .work__project-subtitle {
        font-size: var(--size-l);
    }
}

@media (min-width: 1024px) {
    .work__btn {
        font-size: var(--size-m)
    }

    .work__img {
        --w: 31.5625rem;
        --h: 31.5625rem;
    }

    .work__title {
        font-size: var(--size-4xl);
    }
    
    .work__description {
        font-size: var(--size-l);
    }

    .work__project-description1 {
        font-size: var(--size-m);
    }
    
    .work__project-description2 {
        font-size: var(--size-m);
    }
    
    .work__project-btn {
        font-size: var(--size-m);
    }
    
    .work__project-subtitle {
        font-size: var(--size-xl);
    }
}

@media (min-width: 1280px) {
    .work__title {
        font-size: var(--size-5xl);
    }
    
    .work__description {
        font-size: var(--size-xl);
        margin: 2rem auto;
    }

    .work__btn {
        font-size: var(--size-l)
    }

    .work__project-description1 {
        font-size: var(--size-l);
    }
    
    .work__project-description2 {
        font-size: var(--size-l);
    }
    
    .work__project-btn {
        font-size: var(--size-l);
    }
    
    .work__project-subtitle {
        font-size: var(--size-2xl);
    }

    .work__container {
        width: 80%;
        margin: 0 auto;
    }
}

@media (min-width: 1536px) {
    .work__container {
        width: 70%;
    }
}