.work {
    text-align: left;
}

.work__title {
    font-size: var(--size-2xl);
    color: var(--color-light);
}

.work__description {
    max-width: 60ch;
    font-size: var(--size-s);
    color: var(--color-slate600);
    margin: 1rem 0 2rem;
}

.work__github-link {
    text-decoration: none;
    color: #4f46e5;
}

.work__btn {
    margin: auto;
    text-align: center;
    font-size: var(--size-s);
}

.work__project-title {
    font-size: var(--size-m);
    margin-bottom: 1rem;
}

.work__img {
    width: min(100%, 32rem);
    aspect-ratio: 16 / 10;
    object-fit: cover;
    border: 1px solid var(--color-slate800);
    border-radius: 8px;
    margin: 0;
    transition: border-color 0.3s, transform 0.3s;
}

.work__img:hover {
    border-color: var(--color-slate600);
    transform: translateY(-4px);
}

.work__project:not(:last-child) {
    margin-bottom: 5rem;
}

.work__project-description1 {
    font-size: var(--size-s);
    color: var(--color-slate600);
    margin: 1rem 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding-left: 0;
}

.work__project-description2 {
    font-size: var(--size-s);
    color: var(--color-slate400);
    margin: 1rem 0;
}

.work__project-links {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0 3rem;
}

.work__project-btn {
    font-size: var(--size-s);
}

.work__project-subtitle {
    display: none;
}


@media (min-width: 475px) {
    .work__title {
        font-size: var(--size-3xl);
    }
    .work__description {
        font-size: var(--size-m);
        margin: 1.5rem auto;
    }
    .work__btn {
        font-size: var(--size-m)
    }
    .work__project-title {
        font-size: var(--size-l);
        margin-bottom: 1.5rem;
    }
    .work__project-description1 {
        font-size: var(--size-m);
        margin: 1.5rem 0;
    }
    .work__project-description2 {
        font-size: var(--size-m);
        margin: 1.5rem;
    }
    .work__project-btn {
        font-size: var(--size-m);
    }
}
@media (min-width: 640px) {
    .work__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'image1 content1'
        'content2 image2'
        'image3 content3';
        place-items: center;
        gap: 0 4rem;
    }
    .work__image1 {
        grid-area: image1;
    }
    .work__image2 {
        grid-area: image2;
    }
    .work__image3 {
        grid-area: image3;
    }
    .work__content1 {
        grid-area: content1;
    }
    .work__content2 {
        grid-area: content2;
    }
    .work__content3 {
        grid-area: content3;
    }
    .work__project {
        width: 100%;
        min-height: 100%;
        padding: 3rem 1rem;
        border-top: 1px solid var(--color-slate800);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .work__img-wrapper {
        width: 100%;
        min-height: 100%;
        padding: 3rem 0;
        border-top: 1px solid var(--color-slate800);
        display: flex;
        align-items: center;
    }
    .work__project-title {
        display: none;
    }
    .work__project-description1 {
        font-size: var(--size-xs);
        margin: 1em 0;
    }
    .work__project-description2 {
        font-size: var(--size-xs);
        margin: 1em;
    }
    .work__project-btn {
        font-size: var(--size-xs);
    }
    .work__project:not(:last-child) {
        margin-bottom: 0;
    }
    .work__project-subtitle {
        display: block;
        font-size: var(--size-m);
    }
    .work__project-links {
        padding: 0;
    }
}
@media (min-width: 768px) {
    .work__btn {
        font-size: var(--size-l)
    }
    .work__project-description1 {
        font-size: var(--size-s);
    }
    .work__project-description2 {
        font-size: var(--size-s);
    }
    .work__project-btn {
        font-size: var(--size-s);
    }
    .work__project-subtitle {
        font-size: var(--size-l);
    }
}
@media (min-width: 1024px) {
    .work__btn {
        font-size: var(--size-m)
    }
    .work__title {
        font-size: var(--size-4xl);
    }
    .work__description {
        font-size: var(--size-l);
    }
    .work__project-description1 {
        font-size: var(--size-m);
    }
    .work__project-description2 {
        font-size: var(--size-m);
    }
    .work__project-btn {
        font-size: var(--size-m);
    }
    .work__project-subtitle {
        font-size: var(--size-xl);
    }
}
@media (min-width: 1280px) {
    .work__title {
        font-size: var(--size-5xl);
    }
    .work__description {
        font-size: var(--size-xl);
        margin: 1.5rem 0 2.5rem;
    }
    .work__btn {
        font-size: var(--size-l)
    }
    .work__project-description1 {
        font-size: var(--size-l);
    }
    .work__project-description2 {
        font-size: var(--size-l);
    }
    .work__project-btn {
        font-size: var(--size-l);
    }
    .work__project-subtitle {
        font-size: var(--size-2xl);
    }
    .work__container {
        width: 80%;
        margin: 0 auto;
    }
}
@media (min-width: 1536px) {
    .work__container {
        width: 70%;
    }
}