/* extra small */
/* @media (min-width: 475px) {} */
/* small */
/* @media (min-width: 640px) {} */
/* medium */
/* @media (min-width: 768px) {} */
/* large */
/* @media (min-width: 1024px) {} */
/* extra large */
/* @media (min-width: 1280px) {} */
/* 2XL */
/* @media (min-width: 1536px) {} */


.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.section {
    margin-top: 5rem;
}

.section-title-hr {
    border-color: var(--color-slate600);
}

.btn {
    position: relative; 
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    border-radius: 20px;
    color: var(--color-light);
    transition: .8s;
    padding: 0.4em 2em;
    background-image: linear-gradient(90deg, transparent, var(--color-orange), transparent);
    background-position: bottom;
    background-size: 60% 10%;
    background-repeat: no-repeat;
}
  
.btn:hover {
    color: var(--color-light) ;
    box-shadow: 0 0 5px var(--color-light) ;
}

.cv-btn {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    font-size: var(--size-s);
    color: var(--color-light);
    border-radius: 20px;
    background-color: var(--color-orange);
    border: 2px solid var(--color-orange);
    padding: 0.2rem 2rem;
    transition: 0.5s;
}

.cv-btn:hover {
    background-color: transparent;
    transition: 0.5s;
}

.social-link:hover {
    color: var(--color-orange);
}

.top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: 3px solid var(--color-orange);
    background-color: var(--color-orange);
    color: var(--color-light);
    cursor: pointer;
    padding: 0.8rem;
    border-radius: 50%;
    transition: 0.5s;
}

.top-btn:hover {
    background-color: transparent;
    transition: 0.5s;
}

.autoShow {
    animation: both autoShowAnimation;
    animation-timeline: view(80% 5%);
}
  
@keyframes autoShowAnimation {
    from {
        opacity: 0;
        transform: translateY(50px) scale(0.3);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}


@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
    .section {
        margin-top: 10rem;
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}